<div>
 <h3>2018</h3>
</div>
  <div>
  <ul>
     <li>[31.06.2018] <a href="#/draseis/20180631">Κατάληψη Παπουτσάδικο</a></li>
     <li>[20.01.2018] <a href="#/draseis/20180120">Chimeres.Space Μεταξουργείο</a></li>
</ul>
</div>

<div>
 <br>
  <h3>2017</h3>
</div>
  <div>
  <ul>
    <li>[16.06.2017] <a href="#/draseis/20170616">Κατάληψη Κτήματος Πραποπούλου</a></li>
    <li>[07.05.2017] <a href="#/draseis/20170507/">Πλατεία Μερκούρη</a></li>
  </ul>
</div>

<div>
  <br>
  <h3>2016</h3>
</div>
  <div>
    <ul>
      <li>
        [17-18.12.2016] <a href="#/draseis/2016-p64/">7ος όροφος στην Πανεπιστημίου 64</a>
      </li>
    </ul>
  </div>
