<div>
  <p>
    <strong>16 Ιουνου<br> 21:00 στην <a href="http://osm.org/go/xxSpuTVZy--?m=&way=310240856">Κατάληψη του κτήματος Πραποπούλου</a> στο Χαλάνδρι</strong>
  </p>
  <p>
    Συμμετέχουν οι: Αλέξανδρος Διογένης, EI, Κυτταρίτιδα, Μέταμαν, Ουαπίτι, Sofanky, Palinodiae, Τεφλόν, Τσακμάκι, Χίμαιρες
  </p>
  <p>
    Προβολή του ντοκιμαντέρ <strong>"Fanzini Sa Marsa" - Τα ζινς στη Σερβία των '90s</strong> (35', αγγλικοί υπότιτλοι)
  </p>
  <p>
    Συλλογική μηπερφορμάνς με κείμενα των εντύπων κ.α
  </p>
  <p>
    Πάρτιμπάρ με μουσικές επιλογές και παγωμένες μπύρες
  </p>
  <p>
    &nbsp;
  </p>
  <p>
    Κατέβασε την αφίσα <a href="static/img/terata_16617web.jpg" target="_blank"><strong>εδώ</strong></a>.
  </p>

       <p>
    <img alt="Σημεία και Τέρατα" class="img-responsive" src="static/img/terata_16617web.jpg">
       </p>   
</div>
