<div>
  <p> <strong>**Aναβολή ως την Hλιοφάνεια**</strong><br /></p>
 <p> <s>Σάββατο 29 Σεπτεμβρίου από τις 18.00</s>
στο <a href="https://www.openstreetmap.org/way/320750537#map=19/37.98146/23.71637">Δημόσιο Σήμα, Κεραμεικός</a>
</p>
  <p>
  <strong> Distro </strong><br /> 
με τα αγαπημένα σας έντυπα <br />
</p>
Το απόγευμα στην πλατεία περιλαμβάνει: παζάρι, μουσική, <a href="static/img/Simeia_Terata_OLO_Smaller.pdf" target="_blank"><strong>μπροσούρα</strong></a>, μη κακοποιημένα μπονζάι.
</p>
   &nbsp;
<p>
    <img alt="Σημεία και Τέρατα" width="600" class="img-responsive" src="static/img/SkT_dimosiosima.jpg">
    </p> 
 &nbsp;  
<p>
Κατεβάστε την <a href="static/img/SkT_dimosiosima.jpg" target="_blank"><font color="#2E8B57"><b>αφίσα</b></font></a>
</p>
</div>
