<div>
  <p>
Το Σάββατο 20 Γενάρη στο Chimeres.Space θα γίνουν Σημεία και Τέρατα.
</p>
  <p>
<strong>14.00-16.00</strong> Τσάι και συμπάθεια με τα Σημεία & Τέρατα
</p>
<p>
<strong>16.00-20.00</strong> Γουόρκσοπς // πειραματισμοί // παιχνίδι // συζητήσεις:
</p>
<p>
<strong>Σελιδοποίηση</strong> 
Πώς σελιδοποιούμε τα κείμενά μας; Πώς ετοιμάζουμε το έντυπό μας για εκτύπωση; 
Πώς επιλέγουμε το μέγεθος του εντύπου μας; Πώς κλείνουμε τα αρχεία μας; 
Τι κάνουμε με τα κολάζ, τα σχέδια και τις φωτογραφίες μας; 
Πώς ορίζουμε τα περιθώρια; Τι είναι τα crop marks;
</p>
<p>
<strong>Εξώφυλλο</strong> 
Πώς φτιάχνουμε ένα εξώφυλλο από το μηδέν; Πώς επιλέγουμε τα υλικά μας;
Ποιες τεχνικές μπορούμε να χρησιμοποιήσουμε; Πώς υπολογίζουμε τη ράχη; 
Πώς φτιάχνουμε στένσιλ και σφραγίδες; Πώς φτιάχνουμε μεταξοτυπία;
Τι είναι τα αυτιά;
</p>
<p>
<strong>Εκτύπωση</strong> 
Πότε επιλέγουμε offset και πότε ψηφιακή εκτύπωση; Τι διαφορές έχουν;
Ποια μέθοδο εκτύπωσης επιλέγουμε όταν θέλουμε να εκτυπώσουμε λίγα αντίτυπα;
Πώς επιλέγουμε τα χρώματα που θέλουμε να εκτυπώσουμε; Τι είναι η δίχρωμη εκτύπωση
και τι η τετράχρωμη; Τι κάνουμε όταν επιλέγουμε τη φωτοτυπία;
</p>
<p>
<strong>Βιβλιοδεσία</strong> 
Ποιοι τρόποι βιβλιοδεσίας υπάρχουν και ποιες οι διαφορές τους;
Ποιοι τρόποι βιβλιοδεσίας ενδείκνυνται για ολιγοσέλιδα έντυπα;
Πότε επιλέγουμε καρφίτσα και πότε ραφτοκολλητό;
Πώς διπλώνονται οι σελίδες στο τυπογραφείο και πώς αυτό επηρεάζει το δέσιμο;
Εργαστήριο κοπτικής βιβλιοδεσίας.
</p>
<p>
<strong>20.00-22.00 Παρουσίαση μπροσούρας-Συζήτηση</strong> 
Παρουσίαση της μπροσούρας «Το σύγχρονο εκδοτικό τοπίο και άλλα καινά δαιμόνια»
και συζήτηση για το εγχώριο εκδοτικό τοπίο, την αφομοίωση του όρου «αυτοέκδοση»
και την ανάγκη δημιουργίας δικτύων και οριζόντιων δομών έντυπης αντικουλτούρας.
</p>
<p>
<strong>22.00-23.00 Μηπερφορμάνς</strong> 
> Σύγχρονη αλβανόφωνη ποίηση: Τρώγεται η πατρίδα;
Σύγχρονοι αλβανόφωνοι ποιητές και ποιήτριες γράφουν για την πατρίδα 
που «της έχουν ξύσει τα βουνά και τους γκρεμούς», για την ελπίδα 
που «τσιμεντώθηκε», για το κτήνος που «κοιτάζει πάντα στα κρυφά». 
Με εκφραστική αμεσότητα, στηλιτεύουν τον εθνικισμό και τον θρησκευτικό φανατισμό, 
περιγράφουν την κόλαση του πολέμου και αφουγκράζονται τον αντίλαλο
στο δάσος της πραγματικότητας.
> Η ελπίδα έχει πάντοτε πλαν μπι
Ένα ποιητικό παραλήρημα για την ελπίδα ως επιχειρηματικό σχέδιο 
με εγγυημένη απόδοση επένδυσης.
</p>
<p>
<strong>23.00-01.00 Μπαρ</strong>  
</p>
<p>
Κατεβάστε την <a href="static/img/Simeia&Terata Ekdilwsi 20-01.jpg" target="_blank"><strong>αφίσα</strong></a>
</p>
<p>
    <img alt="Σημεία και Τέρατα" width="600" class="img-responsive" src="static/img/Simeia&Terata Ekdilwsi 20-01.jpg">
       </p>   
</div>
