<div>
  <p>
Το Σάββατο 20 Γενάρη στο <a href="https://www.openstreetmap.org/#map=19/37.98589/23.71565">Chimeres.Space</a> 
θα γίνουν Σημεία και Τέρατα.
</p>
  <p>
<strong>14.00-16.00</strong> Τσάι και συμπάθεια με τα Σημεία & Τέρατα
</p>
<p>
<strong>16.00-20.00</strong> Γουόρκσοπς // πειραματισμοί // παιχνίδι // συζητήσεις:
</p>
<p>
<strong>Σελιδοποίηση</strong><br /> 
Πώς σελιδοποιούμε τα κείμενά μας; Πώς ετοιμάζουμε το έντυπό μας για εκτύπωση;<br /> 
Πώς επιλέγουμε το μέγεθος του εντύπου μας; Πώς κλείνουμε τα αρχεία μας;<br /> 
Τι κάνουμε με τα κολάζ, τα σχέδια και τις φωτογραφίες μας;<br /> 
Πώς ορίζουμε τα περιθώρια; Τι είναι τα crop marks;<br />
</p>
<p>
<strong>Εξώφυλλο</strong><br /> 
Πώς φτιάχνουμε ένα εξώφυλλο από το μηδέν; Πώς επιλέγουμε τα υλικά μας;<br />
Ποιες τεχνικές μπορούμε να χρησιμοποιήσουμε; Πώς υπολογίζουμε τη ράχη;<br />
Πώς φτιάχνουμε στένσιλ και σφραγίδες; Πώς φτιάχνουμε μεταξοτυπία;<br />
Τι είναι τα αυτιά;<br />
</p>
<p>
<strong>Εκτύπωση</strong><br /> 
Πότε επιλέγουμε offset και πότε ψηφιακή εκτύπωση; Τι διαφορές έχουν;<br />
Ποια μέθοδο εκτύπωσης επιλέγουμε όταν θέλουμε να εκτυπώσουμε λίγα αντίτυπα;<br />
Πώς επιλέγουμε τα χρώματα που θέλουμε να εκτυπώσουμε; Τι είναι η δίχρωμη εκτύπωση<br />
και τι η τετράχρωμη; Τι κάνουμε όταν επιλέγουμε τη φωτοτυπία;<br />
</p>
<p>
<strong>Βιβλιοδεσία</strong><br /> 
Ποιοι τρόποι βιβλιοδεσίας υπάρχουν και ποιες οι διαφορές τους;<br />
Ποιοι τρόποι βιβλιοδεσίας ενδείκνυνται για ολιγοσέλιδα έντυπα;<br />
Πότε επιλέγουμε καρφίτσα και πότε ραφτοκολλητό;<br />
Πώς διπλώνονται οι σελίδες στο τυπογραφείο και πώς αυτό επηρεάζει το δέσιμο;<br />
Εργαστήριο κοπτικής βιβλιοδεσίας.<br />
</p>
<p>
<strong>20.00-22.00 Παρουσίαση μπροσούρας-Συζήτηση</strong><br /> 
Παρουσίαση της μπροσούρας «Το σύγχρονο εκδοτικό τοπίο και άλλα καινά δαιμόνια»<br />
και συζήτηση για το εγχώριο εκδοτικό τοπίο, την αφομοίωση του όρου «αυτοέκδοση»<br />
και την ανάγκη δημιουργίας δικτύων και οριζόντιων δομών έντυπης αντικουλτούρας.<br />
</p>
<p>
<strong>22.00-23.00 Μηπερφορμάνς</strong><br /> 
<strong><font color="#444444"> > Σύγχρονη αλβανόφωνη ποίηση: <i>Τρώγεται η πατρίδα;</i></font></strong><br />
Σύγχρονοι αλβανόφωνοι ποιητές και ποιήτριες γράφουν για την πατρίδα<br /> 
που «της έχουν ξύσει τα βουνά και τους γκρεμούς», για την ελπίδα<br /> 
που «τσιμεντώθηκε», για το κτήνος που «κοιτάζει πάντα στα κρυφά».<br /> 
Με εκφραστική αμεσότητα, στηλιτεύουν τον εθνικισμό και τον θρησκευτικό φανατισμό,<br /> 
περιγράφουν την κόλαση του πολέμου και αφουγκράζονται τον αντίλαλο<br />
στο δάσος της πραγματικότητας.<br />
<font color="#444444"><strong> > Η ελπίδα έχει πάντοτε πλαν μπι</strong></font><br />
Ένα ποιητικό παραλήρημα για την ελπίδα ως επιχειρηματικό σχέδιο<br /> 
με εγγυημένη απόδοση επένδυσης.<br />
</p>
<p>
<strong>23.00-01.00 Μπαρ</strong>  
</p>
 &nbsp;
<p>
    <img alt="Σημεία και Τέρατα" width="600" class="img-responsive" src="static/img/Simeia&Terata Ekdilwsi 20-01.jpg">
      </p> 
 &nbsp;  
<p>
Κατεβάστε την <a href="static/img/Simeia&Terata Ekdilwsi 20-01.jpg" target="_blank"><font color="#FF00FF"><strong>αφίσα</strong></font></a>
</p>
</div>
