<div>
  <p> Πέμπτη 31 Μαΐου στην <a href="https://www.openstreetmap.org/#map=19/38.00753/23.66261">Κατάληψη Παπουτσάδικο</a>
</p>
  <p>
<strong>20.00 Παρουσίαση μπροσούρας-Συζήτηση</strong><br /> 
Παρουσίαση της μπροσούρας <font color="#444444">«Το σύγχρονο εκδοτικό τοπίο και άλλα καινά δαιμόνια»</font> και συζήτηση <br />
για το εγχώριο εκδοτικό τοπίο, την αφομοίωση του όρου «αυτοέκδοση»<br />
και την ανάγκη δημιουργίας δικτύων και οριζόντιων δομών έντυπης αντικουλτούρας.<br />
</p>
    <p> εσύ σκότωσες το elitη μέσα σου; </p>
   <p>
<strong>Προβολές</strong>
</p><font color="#444444">Fanzini Sa Marsa </font>(Siniša Dugonjić,2011)<br />
    <font color="#444444">Grrlyshow</font>(Kara Herold,2001)<br />
  <p>
<strong> Distro </strong><br /> 
Με τα αγαπημένα σας έντυπα <br />
</p>
   &nbsp;
<p>
    <img alt="Σημεία και Τέρατα" width="600" class="img-responsive" src="static/img/skt_papoutsadiko.jpg">
      </p> 
 &nbsp;  
<p>
Κατεβάστε την <a href="static/img/skt_papoutsadiko.jpg" target="_blank"><font color="#FF00FF"><b>αφίσα</b></font></a>
</p>
</div>
