<div>
  <p> <strong>Κυριακή 06 Οκτωβρίου από τις 18.00</strong><br /></p>
 <p> 
στην <a href="https://www.openstreetmap.org/#map=19/37.96718/23.71272">πλατεία Μερκούρη, Πετράλωνα</a>
</p>
  <p>
  <strong> Distro </strong><br /> 
με τα αγαπημένα σας έντυπα <br />
</p>
Το απόγευμα στην πλατεία περιλαμβάνει: παζάρι, μουσική, <a href="static/img/Simeia_Terata_OLO_Smaller.pdf" target="_blank"><strong>μπροσούρες</strong></a>, νόμπελ, κέφι.
</p>
   &nbsp;
<p>
    <img alt="Σημεία και Τέρατα" width="600" class="img-responsive" src="static/img/SimeiaKaiTerata6_10_2019.jpg">
    </p> 
 &nbsp;  
<p>
Κατεβάστε την <a href="static/img/SimeiaKaiTerata6_10_2019.jpg" target="_blank"><font color="#2E8B57"><b>αφίσα</b></font></a></p>.<br /> 
Μια παραγωγή της "Μεμονωμένα περιστατικά press" </p>
</div>
