<div>
  <a ><img width="500" alt="ouapiti_touristasEpim2017a-1" class="img-responsive" src="static/img/ouapiti_touristasEpim2017a-1.jpg"></a>
<a ><img width="500"alt="ouapiti_touristasEpim2017a-2" class="img-responsive" src="static/img/ouapiti_touristasEpim2017a-2.jpg"></a>
<a ><img width="500" alt="ouapiti_touristasEpim2017a-3" class="img-responsive" src="static/img/ouapiti_touristasEpim2017a-3.jpg"></a>
<a ><img width="500"alt="ouapiti_touristasEpim2017a-4" class="img-responsive" src="static/img/ouapiti_touristasEpim2017a-4.jpg"></a>
<br><i>Ήταν σίγουρα τουρίστας. Οχτώ σύντομες θερινές ιστορίες θανάτου<i> του Ανδρέα Ζαβιτσάνου (Ουαπίτι, 2017) 
</div>
